<!DOCTYPE html>
<html>
<title> AnitJee</title>
<body>

<h1> This is the headline area </h1>

<p> This is the paragraph area. Please start a new search by <a href =" https://www.google.com">clicking here</a> </p>


 <h2> <%=link_to 'Alpha Blog',  assignments_path %> |  <%=link_to 'about',  about_path %> </h2>


<footer>

<p> This is the footer area </p>

<p>Posted by: Anit Jee</p>

<p>Contact information: <a href="mailto:anitjee@example.com">anitjee@example.com</a></p>

</footer>
</body>
</html>